.terraform/
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.backup
*.tfstate
.tfstate.

*.tfvars
*.tfvars.json
secrets/
*.pem
*.key
*.crt

crash.log
crash.*.log
*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
.vscode/
*.iml
*.swp
*.bak
*.tmp

.env
.env.*
